.section {
  position: relative;

  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;

    &-inner {
      display: flex;
      overflow-x: hidden;
      gap: 40px;

    }

    &-control {
      cursor: pointer;
      width: 20px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
      &.left{
        margin-right: 30px;
      }
      &.right {
        margin-left: 30px;
      }
      &.right img {

        transform: rotate(180deg);
      }

      .arrow-hover {
        display: none;
      }

      &:hover {
        .arrow-default {
          display: none;
        }
        .arrow-hover {
          display: block;
        }
      }
    }
  }

  .teacher-card {
    flex: 0 0 auto;
  }
}

/* Update media queries and add styles for hidden cards */
@media (max-width: 1000px) {
  .section .carousel-inner > :nth-child(n + 4) {
    display: none; // Hide cards exceeding section width
  }

  .section .carousel-inner {
    justify-content: space-around; // Adjust remaining cards
  }
}
@media (max-width: 768px) {
  .section .carousel-inner > :nth-child(n + 3) {
    display: none; // Hide cards exceeding section width
  }

  .section .carousel-inner {
    justify-content: space-around; // Adjust remaining cards
  }
}
@media (max-width: 500px) {
  .section .carousel-inner > :nth-child(n + 2) {
    display: none; // Hide cards exceeding section width
  }

  .section .carousel-inner {
    justify-content: space-around; // Adjust remaining cards
  }
}


.section .carousel-inner > :first-child {
  margin-left: 6px;
}
