.favorites {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .favorites-control {
    cursor: pointer;
    position: relative;
    z-index: 1;  // Ensure arrows are above the cards

    .arrow-default {
      width: 30px;
      height: auto;
    }
  }

  .favorites-inner {
    margin-left: 36px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
    .teacher-card {
      flex: 0 0 auto;
      margin-right: 20px;
    }
  }

}

.arrow {
  opacity: 0.5;

  &:hover {
    opacity: 1;
    transition: 0.2s;
  }
}
