@import "global";

.search-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.site-logo {
  font-size: 3em;
  color: #fff;
  text-shadow: rgba(255, 69, 0, 0.8) -1px -1px , 1px 1px 1px #000;

  &:hover {
    text-shadow: rgba(255, 69, 0, 0.8) -2px -1px , 2px 1px 1px #000;
  }

  @media (max-width: 480px) {
    font-size: 2em;
  }
}

.search-container {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 15px;
    justify-content: space-between;
  }
}

.search-box {
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    flex-direction: column;
    width: 100%;
  }
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  width: 220px;
  font-size: 15px;
  flex: 1;
  transition: width 0.3s ease;

  &:hover {
    width: 400px;
  }

  @media (max-width: 1000px) {
    &:hover {
      width: 300px;
    }
  }
  @media (max-width: 880px) {
    &:hover {
      width: 260px;
    }
  }
  @media (max-width: 810px) {
    &:hover {
      width: 220px;
    }
  }
  @media (max-width: 480px) {
    margin-bottom: 10px;
  }
}

.search-button {

  padding: 10px 20px;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
  color: $base-color;
  border: 1px solid $base-color;
  background-color: white;
  box-sizing: border-box;

  &:hover {
    background-color: $base-color;
    color: white;
  }

  @media (max-width: 480px) {
    margin-left: 0;
  }
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  font-weight: bolder;
  justify-content: center; /* Centering the buttons */
  width: 100%; /* Make sure it takes full width for centering */

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-left: 0;
    margin-top: 20px; /* Adjust margin for better spacing */
  }
}

/* Styles for specific buttons */
.navigation-buttons .btn-teachers,
.navigation-buttons .btn-statistics,
.navigation-buttons .btn-favorites,
.navigation-buttons .btn-about {
  font-size: 1.2em;
  padding: 10px 20px;
  color: $base-color;
  border: none;
  background: none;

  &:hover {
    color: #a63a00;
  }

  @media (max-width: 768px) {
    font-size: 1em;
    padding: 8px 16px;
  }
}

.btn-add-teacher {
  font-size: 1.2em;
  padding: 10px 20px;
  color: $base-color;
  border: 1px solid $base-color;
  background-color: white;
  box-sizing: border-box;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    background-color: $base-color;
    color: white;
  }

  @media (max-width: 768px) {
    margin-left: 0;
    font-size: 1em;
    padding: 8px 16px;
  }
}
