



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.site-logo {
  font-size: 3em;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(255, 69, 0, 0.8), 0 1px 2px #000;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  font-size: 1em;
  flex: 1; /* To allow growing for responsiveness */
}

.search-button {
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
  color: #ff5700; /* Text color */
  border: 1px solid #ff5700; /* Border color */
  background-color: white; /* Background color */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-top: 30px;
  margin-left: -20px;
  font-weight: bolder;
}

/* Styles for specific buttons */
.navigation-buttons .btn-teachers,
.navigation-buttons .btn-statistics,
.navigation-buttons .btn-favorites,
.navigation-buttons .btn-about {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #ff5700; /* Set text color to orange */
  border: none; /* Remove any border */
  background: none; /* Ensure no background color */
}

.btn-add-teacher {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #ff5700; /* Text color */
  border: 1px solid #ff5700; /* Border color */
  background-color: white; /* Background color */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  margin-left: auto; /* Push "Add teacher" to the far right */
  cursor: pointer;
}
