.top-teacher-filter {
  display: flex;
  align-items: center;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  position: relative;
  margin: 0 15px;
  background: repeating-linear-gradient(
                  to bottom,
                  transparent,
                  transparent 1px,
                  black 1px,
                  black 2px
  );

}
