.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.site-logo {
  font-size: 3em;
  color: #fff;
  text-shadow: rgba(255, 69, 0, 0.8) -1px -1px, 1px 1px 1px #000;
}
.site-logo:hover {
  text-shadow: rgba(255, 69, 0, 0.8) -2px -1px, 2px 1px 1px #000;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  width: 220px;
  font-size: 15px;
  flex: 1;
  transition: width 0.3s ease;
}
.search-input:hover {
  width: 400px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
  color: #ff5700;
  border: 1px solid #ff5700;
  background-color: white;
  box-sizing: border-box;
}
.search-button:hover {
  background-color: #ff5700;
  color: white;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-top: 30px;
  margin-left: -20px;
  font-weight: bolder;
}

/* Styles for specific buttons */
.navigation-buttons .btn-teachers,
.navigation-buttons .btn-statistics,
.navigation-buttons .btn-favorites,
.navigation-buttons .btn-about {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #ff5700;
  border: none;
  background: none;
}
.navigation-buttons .btn-teachers:hover,
.navigation-buttons .btn-statistics:hover,
.navigation-buttons .btn-favorites:hover,
.navigation-buttons .btn-about:hover {
  color: #a63a00;
}

.btn-add-teacher {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #ff5700;
  border: 1px solid #ff5700;
  background-color: white;
  box-sizing: border-box;
  margin-left: auto;
  cursor: pointer;
}
.btn-add-teacher:hover {
  background-color: #ff5700;
  color: white;
}

.top-teacher-filter {
  display: flex;
  align-items: center;
}
.top-teacher-filter label {
  color: #a19fa3;
  font-size: 14px;
  margin-right: 10px;
}
.top-teacher-filter label:hover {
  color: #000;
}

.top-teacher-filter select {
  font-size: 15px;
  padding: 10px;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  position: relative;
  margin: 0 15px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 1px, black 1px, black 2px);
}

.teacher-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  gap: 1.5rem;
}

.teacher-card .star-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
  color: gold;
  z-index: 10;
}

.teacher-card {
  position: relative;
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
}
.teacher-card:hover .teacher-image {
  transform: scale(1.1);
  border-color: #993400;
}

.teacher-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ff5700;
  margin-bottom: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.teacher-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  justify-content: space-around;
}

.teacher-info-name,
.teacher-info-last-name,
.teacher-info-specialization,
.teacher-info-geo {
  margin: 0;
}

.teacher-info-name,
.teacher-info-last-name {
  font-size: 20px;
  font-weight: bold;
}

.teacher-info-container {
  margin-bottom: 10px;
}

.teacher-info-specialization {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  margin-bottom: 10px;
}

.teacher-info-geo {
  font-size: 12px;
  font-weight: lighter;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  position: relative;
}
.table-container table {
  width: 100%;
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0;
}
.table-container table thead tr, .table-container table tbody tr {
  display: flex;
  width: 100%;
}
.table-container table th, .table-container table td {
  flex: 1;
  padding: 12px;
  text-align: left;
  display: flex;
  align-items: center;
}
.table-container table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.table-container table th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.table-container table th:hover::after {
  transform: scaleX(1);
}
.table-container table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-container table tbody tr:hover {
  background-color: #dadada;
}

#pagination {
  margin-top: 10px;
  float: left;
}
#pagination .page-link, #pagination .dots {
  margin: 0 5px;
  text-decoration: none;
  color: #1a9cb0;
  cursor: pointer;
  transition: color 0.3s;
}
#pagination .page-link:hover, #pagination .dots:hover {
  color: #ddd;
}
#pagination .active {
  color: #222222;
  font-weight: bold;
}
#pagination .last {
  color: #10616d;
}
#pagination .dots {
  cursor: default;
}

#pagination {
  margin-top: 10px;
  float: left;
}
#pagination .page-link, #pagination .dots {
  margin: 0 5px;
  text-decoration: none;
  color: #1a9cb0;
  cursor: pointer;
  transition: color 0.3s;
}
#pagination .page-link:hover, #pagination .dots:hover {
  color: #ddd;
}
#pagination .active {
  color: #222222;
  font-weight: bold;
}
#pagination .last {
  color: #10616d;
}
#pagination .dots {
  cursor: default;
}

.section {
  position: relative;
}
.section .carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
}
.section .carousel-inner {
  display: flex;
  overflow-x: hidden;
  gap: 40px;
}
.section .carousel-control {
  cursor: pointer;
  width: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .carousel-control img {
  width: 100%;
  height: auto;
}
.section .carousel-control.left {
  margin-right: 10px;
}
.section .carousel-control.right {
  margin-left: 30px;
}
.section .carousel-control.right img {
  transform: rotate(180deg);
}
.section .carousel-control .arrow-hover {
  display: none;
}
.section .carousel-control:hover .arrow-default {
  display: none;
}
.section .carousel-control:hover .arrow-hover {
  display: block;
}
.section .teacher-card {
  flex: 0 0 auto;
}

/* Update media queries and add styles for hidden cards */
@media (max-width: 1000px) {
  .section .carousel-inner > :nth-child(n+4) {
    display: none;
  }
  .section .carousel-inner {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .section .carousel-inner > :nth-child(n+3) {
    display: none;
  }
  .section .carousel-inner {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .section .carousel-inner > :nth-child(n+2) {
    display: none;
  }
  .section .carousel-inner {
    justify-content: space-around;
  }
}
.section .carousel-inner > :first-child {
  margin-left: 6px;
}

.about-section {
  padding: 40px 0 0;
}

.about-section p {
  padding: 0 0 20px;
}

.about-text {
  max-width: 1000px;
  text-align: start;
}
.about-text p {
  font-weight: 100;
  font-size: 12px;
}

/* General container setup */
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 40px auto 0;
  padding-top: 40px;
  max-width: 90%;
  width: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

.section::before {
  content: "";
  display: block;
  width: 45%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 27.5%;
}

/* Media queries */
@media (max-width: 768px) {
  body {
    max-width: 80%;
    padding: 0 20px;
  }
  .container {
    max-width: 80%;
  }
  .section {
    margin-top: 30px;
    padding-top: 30px;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .section::before {
    width: 50%;
    left: 25%;
  }
}
@media (max-width: 480px) {
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .section::before {
    width: 55%;
    left: 22.5%;
  }
}

/*# sourceMappingURL=style.css.map */
