.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.site-logo {
  font-size: 3em;
  color: #fff;
  text-shadow: rgba(255, 69, 0, 0.8) -1px -1px, 1px 1px 1px #000;
}
.site-logo:hover {
  text-shadow: rgba(255, 69, 0, 0.8) -2px -1px, 2px 1px 1px #000;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  width: 220px;
  font-size: 15px;
  flex: 1;
  transition: width 0.3s ease;
}
.search-input:hover {
  width: 400px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
  color: #ff5700;
  border: 1px solid #ff5700;
  background-color: white;
  box-sizing: border-box;
}
.search-button:hover {
  background-color: #ff5700;
  color: white;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-top: 30px;
  margin-left: -20px;
  font-weight: bolder;
}

/* Styles for specific buttons */
.navigation-buttons .btn-teachers,
.navigation-buttons .btn-statistics,
.navigation-buttons .btn-favorites,
.navigation-buttons .btn-about {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #ff5700;
  border: none;
  background: none;
}
.navigation-buttons .btn-teachers:hover,
.navigation-buttons .btn-statistics:hover,
.navigation-buttons .btn-favorites:hover,
.navigation-buttons .btn-about:hover {
  color: #a63a00;
}

.btn-add-teacher {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #ff5700;
  border: 1px solid #ff5700;
  background-color: white;
  box-sizing: border-box;
  margin-left: auto;
  cursor: pointer;
}
.btn-add-teacher:hover {
  background-color: #ff5700;
  color: white;
}

.top-teacher-filter {
  display: flex;
  align-items: center;
}
.top-teacher-filter label {
  color: #a19fa3;
  font-size: 14px;
  margin-right: 10px;
}
.top-teacher-filter label:hover {
  color: #000;
}

.top-teacher-filter select {
  font-size: 15px;
  padding: 10px;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  position: relative;
  margin: 0 15px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 1px, black 1px, black 2px);
}

.teacher-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  gap: 1.5rem;
}

.teacher-card .star-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
  color: gold;
  z-index: 10;
}

.teacher-card {
  position: relative;
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
}
.teacher-card:hover .teacher-image {
  transform: scale(1.1);
  border-color: #993400;
}

.teacher-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ff5700;
  margin-bottom: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.teacher-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  justify-content: space-around;
}

.teacher-info-name,
.teacher-info-last-name,
.teacher-info-specialization,
.teacher-info-geo {
  margin: 0;
}

.teacher-info-name,
.teacher-info-last-name {
  font-size: 20px;
  font-weight: bold;
}

.teacher-info-container {
  margin-bottom: 10px;
}

.teacher-info-specialization {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  margin-bottom: 10px;
}

.teacher-info-geo {
  font-size: 12px;
  font-weight: lighter;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

table {
  width: 100%;
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0;
}
table thead tr, table tbody tr {
  display: flex;
  width: 100%;
}
table th, table td {
  flex: 1;
  padding: 12px;
  text-align: left;
  display: flex;
  align-items: center;
}
table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
table th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
table th:hover::after {
  transform: scaleX(1);
}
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tbody tr:hover {
  background-color: #dadada;
}

/* General container setup */
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

.section::before {
  content: "";
  display: block;
  width: 45%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 27.5%;
}

/*# sourceMappingURL=style.css.map */
